<section class="mb-5" *ngIf="product">
  <div class="container mt-5 mx-auto d-flex justify-content-between">
    <div class="w-50">
      <div class="row">
        <div class="col-12">
          <img [src]="product.thumbnail" alt="" width="100%" />
        </div>
        <div class="row mt-2 overflow-auto">
          <div class="col-12 d-flex justify-content-between align-items-center">
            <span class="col-3" *ngFor="let img of product.images">
              <img [src]="img" alt="" width="100px" />
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="w-50 text-center ms-5">
      <h1>{{ product.title }}</h1>
      <div class="mb-2">{{ product.description }}</div>
      <div class="d-flex align-items-center ms-2">
        <span class="me-4">Rating: </span>
        <i
          class="fa-regular fa-star"
          style="color: #000000"
          [ngClass]="{ 'fa-solid': product.rating > 0.5 }"
        ></i>
        <i
          class="fa-regular fa-star"
          style="color: #000000"
          [ngClass]="{ 'fa-solid': product.rating > 1.5 }"
        ></i>
        <i
          class="fa-regular fa-star"
          style="color: #000000"
          [ngClass]="{ 'fa-solid': product.rating > 2.5 }"
        ></i>
        <i
          class="fa-regular fa-star"
          style="color: #000000"
          [ngClass]="{ 'fa-solid': product.rating > 3.5 }"
        ></i>
        <i
          class="fa-regular fa-star"
          style="color: #000000"
          [ngClass]="{ 'fa-solid': product.rating > 4.5 }"
        ></i>
      </div>
      <hr />
      <div class="my-2">
        <span class="price">Price: </span>
        <span *ngIf="product.discountPercentage" class="price">{{
          product.price - product.discountPercentage | currency : "EGP"
        }}</span>
        <span *ngIf="product.discountPercentage"> instead of </span>
        <span
          class="price"
          [ngStyle]="{
            'text-decoration': product.discountPercentage
              ? 'line-through'
              : 'none',
            color: product.discountPercentage ? 'red' : 'black'
          }"
          >{{ product.price | currency : "EGP" }}</span
        >
      </div>
      <hr />
      <div class="d-flex justify-content-between mb-2">
        <div *ngIf="product.stock; then stock; else out"></div>
        <div>{{ product.brand }}</div>
        <div>{{ product.category }}</div>
      </div>
      <hr />
      <div class="d-flex">
        <div class="d-flex flex-column">
          <div>
            <input
              type="range"
              min="0"
              [max]="product.stock"
              step="1"
              *ngIf="product.stock"
              [(ngModel)]="value"
            />
          </div>
          <div *ngIf="product.stock">{{ value }}</div>
        </div>

        <div *ngIf="product.stock; then stockmsg; else outmsg"></div>
      </div>

      <div class="d-flex btns mt-3" *ngIf="product.stock">
        <a class="ms-3 btn btn-primary">Buy now</a>
        <a class="btn btn-primary ms-3" (click)="addToCart(product)"
          >Add to cart</a
        >
      </div>
    </div>
  </div>
</section>

<ng-template #stock>
  <span class="badge text-bg-success">in stock</span>
</ng-template>
<ng-template #out>
  <span class="badge text-bg-danger">out of stock</span>
</ng-template>
<ng-template #stockmsg>
  <div class="mx-3">
    <div>
      Only <span class="text-danger">{{ product.stock }} Items</span> left!
    </div>
    <div>Don't miss it</div>
  </div>
</ng-template>

<ng-template #outmsg>
  <div>This item is out of stock</div>
</ng-template>

<div *ngIf="!product" class="d-flex justify-content-center align-items-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
